.task{
  margin-top: 10px;
    display: flex;
}
.task-container {
  border-color: black;
  border: solid;
  width: 20rem;
  min-width: fit-content;
  margin-bottom: 10px;
}
.done-check{
    width: 20px;
    margin-right:10px;
    margin-left: 10px;
}
.task-title {
  background-color: #0b2447;
  color: #a5d7e8;

  text-transform: capitalize;
  width: 100ù;
  min-width: fit-content;
  padding: 10px;
  font-size: 22px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  text-indent: 5rem;
}
.task-body {
  min-height: 70px;

  text-transform: capitalize;
  background-color: #a5d7e8;
  color: #0b2447;
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
#button_delete{
  margin-top: 10px;
  margin-left:10px;
  height:fit-content;
  padding: 5px;
  text-transform: capitalize;
  background-color: #a5d7e8;
  color: #0b2447;
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
}
#button_delete:hover{
  background-color: white;
    transition: ease-in 0.3s;
}
#button_modify{
  margin-top: 10px;
  margin-left:10px;
  height:fit-content;
  padding: 5px;
  text-transform: capitalize;
  background-color: #a5d7e8;
  color: #0b2447;
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
}
#button_modify:hover{
  background-color: white;
    transition: ease-in 0.3s;
}
.editingTask{
  display: flex;
  flex-direction: column;
}
.buttonsSave{
  display: flex;
  flex-direction: column;
  margin-left:50px;
  padding: 10px;
}
.buttonsSave button{
 width:5rem
}